#textdomain wesnoth-Return_of_the_Monster

#define ROTM_SIDE_1
    side=1
    controller=human
    save_id="Amailoss"
    persistent=1
    team_name=union
    user_team_name=_"Amailoss's Force"
    type=Naga Noble
    id=Amailoss
    name= _ "Amailoss"
    profile="portraits/amailoss.png"
    canrecruit=yes
    unrenamable=yes
    village_gold=1
    [modifications]
        {TRAIT_LOYAL}
        {TRAIT_RESILIENT}
    [/modifications]
#enddef

#define ROTM_RECRUITMENT_1
    recruit=Naga Fighter Rotm,Nagini Maiden
#enddef

#define ROTM_RECRUITMENT_2
    recruit=Saurian Skirmisher,Naga Fighter Rotm,Nagini Maiden,Young Ogre
#enddef

#define ROTM_RECRUITMENT_3
    recruit=Naga Fighter Rotm,Nagini Maiden,Protective Carapace,Hunting Carapace
#enddef

#define ROTM_RECRUITMENT_4
    recruit=Naga Fighter Rotm,Nagini Maiden,Protective Carapace,Hunting Carapace,Goblin Spearman,Orcish Assassin
#enddef

#define ROTM_HOW_TO_LOSE_1
    [objective]
        description= _ "Death of Amailoss"
        condition=lose
    [/objective]
    [objective]
        description= _ "Death of Jexxik"
        condition=lose
    [/objective]            
    [objective]
        description= _ "Death of Arkarms"
        condition=lose
    [/objective]
    [objective]
        description= _ "Death of Vev"
        condition=lose
    [/objective]
    [objective]
        description= _ "Turns run out"
        condition=lose
    [/objective]
#enddef

#define ROTM_HOW_TO_LOSE_2
    [objective]
        description= _ "Death of Amailoss"
        condition=lose
    [/objective]
    [objective]
        description= _ "Death of Jexxik"
        condition=lose
    [/objective]            
    [objective]
        description= _ "Death of Arkarms"
        condition=lose
    [/objective]
    [objective]
        description= _ "Death of Vev"
        condition=lose
    [/objective]
    [objective]
        description= _ "Death of Kózmo"
        condition=lose
    [/objective]
    [objective]
        description= _ "Turns run out"
        condition=lose
    [/objective]
#enddef
#define ROTM_HOW_TO_LOSE_3
    [objective]
        description= _ "Death of Amailoss"
        condition=lose
    [/objective]
    [objective]
        description= _ "Death of Kózmo"
        condition=lose
    [/objective]
    [objective]
        description= _ "Death of Montas"
        condition=lose
    [/objective]
    [objective]
        description= _ "Turns run out"
        condition=lose
    [/objective]
#enddef

#define ROTM_HOW_TO_LOSE_4
    [objective]
        description= _ "Death of Amailoss"
        condition=lose
    [/objective]
    [objective]
        description= _ "Death of Kózmo"
        condition=lose
    [/objective]
    [objective]
        description= _ "Death of Montas"
        condition=lose
    [/objective]
    [objective]
        description= _ "Death of Master Zooke"
        condition=lose
    [/objective]
    [objective]
        description= _ "Death of Deliowen"
        condition=lose
    [/objective]
    [objective]
        description= _ "Turns run out"
        condition=lose
    [/objective]
#enddef

#define ROTM_HOW_TO_LOSE_5
    [objective]
        description= _ "Death of Amailoss"
        condition=lose
    [/objective]
    [objective]
        description= _ "Death of Kózmo"
        condition=lose
    [/objective]
    [objective]
        description= _ "Death of Montas"
        condition=lose
    [/objective]
    [objective]
        description= _ "Death of Master Zooke"
        condition=lose
    [/objective]
    [objective]
        description= _ "Death of Deliowen"
        condition=lose
    [/objective]
    [objective]
        description= _ "Death of Prince Erulo"
        condition=lose
    [/objective]
    [objective]
        description= _ "Turns run out"
        condition=lose
    [/objective]
#enddef

#define ROTM_UNIT_DEATHS
    [event]
        name=last breath
        [filter]
            id=Amailoss
        [/filter]
        [message]
            speaker=unit
            message= _ "Aaargh... I am no longer fit my duty..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Arkarms
        [/filter]
        [message]
            speaker=unit
            message= _ "Aaargh... Ogres forever..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Jexxik
        [/filter]
        [message]
            speaker=unit
            message= _ "Aaargh..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Vev
        [/filter]
        [message]
            speaker=unit
            message= _ "Aaargh... If I die, the story does not continue..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Kozmo
        [/filter]
        [message]
            speaker=unit
            message= _ "Aliee... This should not happen..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Montas
        [/filter]
        [message]
            speaker=unit
            message= _ "Aaargh... I am too early to die..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Zooke
        [/filter]
        [message]
            speaker=unit
            message= _ "Aliee..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Deliowen
        [/filter]
        [message]
            speaker=unit
            message= _ "Aliee..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Erulo
        [/filter]
        [message]
            speaker=unit
            message= _ "Aaargh... They got me..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Trixleii
        [/filter]
        [message]
            speaker=unit
            message= _ "Aaargh... Sir, Amailoss... I am no longer..."
        [/message]
        [message]
            id=Amailoss
            message= _ "Nooo...! Trixleii, I still need you...!"
        [/message]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Rialia
        [/filter]
        [message]
            speaker=unit
            message= _ "Aiieee...!"
        [/message]
        [message]
            id=Amailoss
            message= _ "Nooo...! Rialia...!"
        [/message]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Garashan
        [/filter]
        [message]
            speaker=unit
            message= _ "Aaargh... I can... no longer... help you..."
        [/message]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Celicy
        [/filter]
        [message]
            speaker=unit
            message= _ "Gwaargh..."
        [/message]
        [message]
            speaker=Deliowen
            message= _ "Oh-No! Celicy is mother's favorite... She will be really mad at me..."
        [/message]
    [/event]
#enddef

#define ROTM_OBJ_HOLY_WATER_MELEE X Y ID
    {PICKUPPABLE_ITEM {ID} {X} {Y} side=1 items/holy-water.png
    _"Sprinkling this water on MELEE weapons grants them the 'arcane' damage type until the end of the campaign. Should $unit.name use it?"
    _"holy water^Take it"
    _"holy water^Leave it"
    _"I am not suited to the use of this item! Let another take it." (
        [object]
            name= _ "Holy Water"
            image=items/holy-water.png
            duration=forever
            description= _ "This water will make melee weapons have the 'arcane' damage type until the end of the campaign."
            [effect]
                apply_to=attack
                range=melee
                set_type=arcane
            [/effect]
        [/object]
        [sound]
            name={SOUND_LIST:HOLY}
        [/sound]
    )}
#enddef

#define ROTM_OBJ_HOLY_WATER_RANGED X Y ID
    {PICKUPPABLE_ITEM {ID} {X} {Y} side=1 items/holy-water.png
    _"Sprinkling this water on RANGED weapons grants them the 'arcane' damage type until the end of the campaign. Should $unit.name use it?"
    _"holy water^Take it"
    _"holy water^Leave it"
    _"I am not suited to the use of this item! Let another take it." (
        [object]
            name= _ "Holy Water"
            image=items/holy-water.png
            duration=forever
            description= _ "This water will make ranged weapons have the 'arcane' damage type until the end of the campaign."
            [effect]
                apply_to=attack
                range=ranged
                set_type=arcane
            [/effect]
        [/object]
        [sound]
            name={SOUND_LIST:HOLY}
        [/sound]
    )}
#enddef

#define ROTM_OBJ_BLUE_POTION X Y ID
    {PICKUPPABLE_ITEM {ID} {X} {Y} side=1 items/potion-blue.png
    _"This magical potion adds 5 to the taker’s maximum hitpoints until the end of the campaign. Should $unit.name use it?"
    _"blue potion^Take it"
    _"blue potion^Leave it"
    _"I am not suited to the use of this item! Let another take it." (
        [object]
            name= _ "Potion of Bull"
            image=items/potion-blue.png
            duration=forever
            description= _ "This potent draught will permanently add 5 points to the drinker's maximum hitpoints."
            [effect]
                apply_to=hitpoints
                increase_total=5 
            [/effect]
        [/object]
        [sound]
            name={SOUND_LIST:HOLY}
        [/sound]
        [set_variable]
            name=potion_picked
            value=yes
        [/set_variable]
    )}
#enddef

#define ROTM_SCENARIO_MUSIC MUSIC
    [music]
        name="revelation.ogg"
    [/music]
    [event]
        name=prestart
        [music]
            name={MUSIC}
            immediate=no
            append=yes
        [/music]
    [/event]
#enddef

#define ROTM_INTRO_AND_SCENARIO_MUSIC INTRO_MUSIC ROTM_SCENARIO_MUSIC
    [music]
        name={INTRO_MUSIC}
    [/music]
    [event]
        name=prestart
        [music]
            name={ROTM_SCENARIO_MUSIC}
            immediate=no
            append=yes
        [/music]
    [/event]
#enddef
 
#define ROTM_RESET_SHADOWS 
    [event]
        name=prestart
        [store_unit]
            [filter]
                race=illusion
                side=1
            [/filter]
            kill=yes
        [/store_unit]
        {CLEAR_VARIABLE rotm_mover.id}
    [/event]
#enddef                                

#define ROTM_PRERECRUIT
    [event]
        name=prerecruit
        first_time_only=no
        [filter]
            type=Naga Fighter Rotm
            side=1
        [/filter]
        [message]
            id=rotm_fighter_trait
            speaker=narrator
            message= _ "You may choose the next action."
            image=wesnoth-icon.png
            [option] 
                id=quick_fighter
                message= _ "I need a quicker unit." 
                [command]
                    [kill]
                        x,y=$x1,$y1
                    [/kill]
                    [unit]
                        side=1
                        generate_id=yes
                        type=Naga Fighter Rotm
                        x,y=$x1,$y1
                        upkeep=full
                        moves=0
                        [modifications]
                            {TRAIT_QUICK}
                            {TRAIT_RESILIENT}
                        [/modifications]
                    [/unit]
                [/command]
            [/option]
            [option] 
                id=strong_fighter
                message= _ "I need a stronger unit." 
                [command]
                    [kill]
                        x,y=$x1,$y1
                    [/kill]
                    [unit]
                        side=1
                        generate_id=yes
                        type=Naga Fighter Rotm
                        x,y=$x1,$y1
                        upkeep=full
                        moves=0
                        [modifications]
                            {TRAIT_STRONG}
                            {TRAIT_RESILIENT}
                        [/modifications]
                    [/unit]
                [/command]
            [/option]
        [/message]            
    [/event]
    [event]
        name=prerecruit
        first_time_only=no
        [filter]
            type=Nagini Maiden
            side=1
        [/filter]
        [message]
            id=rotm_maiden_trait
            speaker=narrator
            message= _ "You may choose the next action."
            image=wesnoth-icon.png
            [option]
                id=quick_maiden
                message= _ "I need a quicker unit." 
                [command]
                    [kill]
                        x,y=$x1,$y1
                    [/kill]
                    [unit]
                        side=1
                        generate_id=yes
                        type=Nagini Maiden
                        x,y=$x1,$y1
                        upkeep=full
                        moves=0
                        [modifications]
                            {TRAIT_QUICK}
                            {TRAIT_RESILIENT}
                        [/modifications]
                    [/unit]
                [/command]
            [/option]
            [option] 
                id=strong_maiden
                message= _ "I need a stronger unit." 
                [command]
                    [kill]
                       x,y=$x1,$y1
                    [/kill]
                    [unit]
                        side=1
                        generate_id=yes
                        type=Nagini Maiden
                        x,y=$x1,$y1
                        upkeep=full
                        moves=0
                        [modifications]
                            {TRAIT_STRONG}
                            {TRAIT_RESILIENT}
                        [/modifications]
                    [/unit]
                [/command]
            [/option]
        [/message] 
    [/event]                             
#enddef

#define ROTM_ORCISH_FLAG
    flag=flag/orcish-flag-1.png:150,flag/orcish-flag-2.png:150,flag/orcish-flag-3.png:150,flag/orcish-flag-4.png:150
    flag_icon=flag/orcish-flag-icon.png
#enddef

##define ROTM_UNION_FLAG
#    flag=flag/union-flag-1.png:200,flag/union-flag-2.png:200,flag/union-flag-3.png:200,flag/union-flag-4.png:200
#    flag_icon=flag/union-flag-icon.png
##enddef

#define ROTM_BG_MAP
    [background_layer]
        image=maps/background.jpg
        keep_aspect_ratio=no
    [/background_layer]
    [background_layer]
        image=story/farnorth-3rdC.png
        scale=no
        base_layer=yes
    [/background_layer]
#enddef
